<div class="order-container">
  <h2>Account Information</h2>
  <form [formGroup]="accountForm" (ngSubmit)="saveChanges()" class="order-form">
    <div class="customer-details">
      <mat-form-field appearance="outline">
        <mat-label>Meno</mat-label>
        <input matInput formControlName="firstName" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Priezvisko</mat-label>
        <input matInput formControlName="lastName" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefónne čílo</mat-label>
        <input matInput formControlName="phoneNumber" type="tel" required />
        <mat-error *ngIf="accountForm.get('phoneNumber')?.hasError('pattern')">
          Prosím zadajte valídne tel. číslo
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Uložiť zmeny</button>

    <div *ngIf="!isAdmin && !isCourier" class="apply-courier">
      <mat-checkbox formControlName="applyForCourier" [disabled]="isAdmin || isCourier || hasPendingApplication">Zažiadať o rolu kuriéra</mat-checkbox>
    </div>

    <div *ngIf="showCourierMessageField" class="courier-message">
      <mat-form-field appearance="outline">
        <mat-label>Správa</mat-label>
        <textarea matInput formControlName="courierMessage"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="applyForCourier()" [disabled]="hasPendingApplication">Odoslať žiadosť</button>
    </div>
  </form>

  <div *ngIf="isAdmin" class="applications-container">
    <h2>Restauracie req:</h2>
    <app-restaurant-request></app-restaurant-request>
    <h2>Kuriérske žiadosti</h2>
    <div *ngFor="let application of applications" class="application-card">
      <p><strong>Používateľ:</strong> {{ application.userName }}</p>
      <p><strong>Správa:</strong> {{ application.message }}</p>
      <button mat-raised-button color="primary" (click)="processApplication(application.id, true)">Potvrdiť</button>
      <button mat-raised-button color="warn" (click)="processApplication(application.id, false)">Odmietnuť</button>
    </div>
  </div>
  <div *ngIf="isAdmin" class="load-addresses-button">
    <button mat-raised-button color="primary" (click)="setAddressesFromJson()">Načítaj databázu adries</button>
    <button mat-raised-button color="primary" (click)="manageRestaurants()">Manazer restauracii</button>
  </div>
  <div *ngIf="managedRestaurants.length > 0" class="managed-restaurants">
    <h3>Managed Restaurants</h3>
    <mat-list>
      <mat-list-item *ngFor="let restaurant of managedRestaurants">
        <h4 mat-line>{{ restaurant.name }}</h4>
        <p mat-line>{{ restaurant.address?.completeAddress }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
