<div class="restaurant-manager-container mat-elevation-z8">
    <mat-toolbar color="primary">
        <span>Pridanie manažéra reštaurácie</span>
    </mat-toolbar>

    <form [formGroup]="managerForm" (ngSubmit)="addManager()" class="manager-form">
        <mat-form-field appearance="outline">
            <mat-label>Vyberte používateľa</mat-label>
            <mat-select formControlName="userId">
                <mat-option *ngFor="let user of users" [value]="user.id">
                    {{ user.firstName }} {{ user.lastName }} ({{ user.userName }})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Vyberte reštauráciu</mat-label>
            <mat-select formControlName="restaurantId">
                <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.id">
                    {{ restaurant.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="managerForm.invalid">
            Pridať manažéra
        </button>
    </form>
</div>
