<h2 mat-dialog-title>Order Details</h2>
<mat-dialog-content>
  <mat-divider></mat-divider>
  <p><strong>ID:</strong> {{ order.id }}</p>
  <p><strong>Customer Name:</strong> {{ order.customerName }}</p>
  <p><strong>Customer Address:</strong> {{ order.customerAddress.completeAddress }}</p>
  <p><strong>Phone Number:</strong> {{ order.phoneNumber }}</p>
  <p><strong>Status:</strong> {{ order.status }}</p>
  <p><strong>Courier:</strong> {{ order.claimedByName }}</p>
  <p><strong>Total Price:</strong> {{ order.totalPrice }}</p>
  <p><strong>Čas vytvorenia objednávky:</strong></p> {{order.timeCreated}}
  <p *ngIf="timecl"><strong>Čas potvrdenia kuriérom:</strong></p> {{order.timeClaimed}}
  <p *ngIf="timede"><strong>Čas doručenia kuriérom:</strong></p> {{order.timeDelivered}}
  <mat-divider></mat-divider>
  <h2 mat-dialog-title>Food Items</h2>
  <div *ngFor="let food of order.orderFoods">
    <p *ngIf="isAdmin"><strong>Food ID:</strong> {{ food.foodId }}</p>
    <p><strong>Food Name:</strong> {{ food.name }}</p>
    <p><strong>Quantity:</strong> {{ food.quantity }}</p>

    <mat-divider></mat-divider>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
