* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    border: 1px solid black;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #111;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffa500;
}

nav {
    background-color: black;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffa500;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: lightyellow;
    border-radius: 5px;
    font-size: 22px;
}
.content h2{
    text-align: center;
    margin-bottom:20px;
}
.content .registration{
    position: relative;
    margin-top: 10px;
    padding-right:20px;
    padding-bottom: 30px;
}

nav ul li:first-child{
    margin-right:auto;
}
img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
    max-height: 75%;
    object-fit: contain;
}
.text-background{
    background-color: lightyellow;
}
.content .orders{
    background-color: chocolate;
    width: 30%;
}
.content .delivery{
    border: solid 1px black;
    margin-top: 2px;
    margin-bottom: 2px;
}
.content .order{
    border: solid 1px black;
    margin-top: 2px;
    margin-bottom: 2px;

}
.row {
    display: flex;
}

.column {
    margin: 30px;
    flex: 50%;
}

.mapa {
    position: relative;
}