<div class="order-container">
  <h2>Vytvorenie objednávky</h2>
  <form [formGroup]="orderForm" (ngSubmit)="submitOrder()" class="order-form">
    <div class="customer-details">
      <mat-form-field appearance="outline">
        <mat-label>Meno zákazníka</mat-label>
        <input matInput formControlName="customerName" placeholder="Zadajte meno" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Adresa zákazníka</mat-label>
        <input matInput formControlName="customerAddress" placeholder="Zadajte adresu" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Tel. číslo</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="Zadajte telefónne číslo" type="tel" />
        <mat-error *ngIf="orderForm.get('phoneNumber')?.hasError('pattern')">
          Zadajte platné telefónne číslo.
          </mat-error>
      </mat-form-field>
    </div>

    <div class="food-selection">
      <!--<mat-form-field appearance="outline">
    <mat-label>Vyberte jedlo</mat-label>
    <mat-select [(value)]="selectedFood" (selectionChange)="onFoodSelected($event)">
      <mat-option *ngFor="let food of availableFoods" [value]="food">
        {{ food.name }} - {{ food.price | currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>-->
      <h3>Vyberte jedlo</h3>
      <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile *ngFor="let food of availableFoods" (click)="selectFood(food)" [class.selected]="food === selectedFood">
          <img [src]="food.picturePath" alt="{{ food.name }}" class="food-image" />
          <mat-grid-tile-footer>
            <h3>{{ food.name }}</h3>
            <p>{{ food.price | currency }}</p>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
      <div *ngIf="selectedFood">
        <mat-label>Množstvo</mat-label>
        <div class="quantity-container">
          <button mat-button type="button" (click)="decrementQuantity()">-</button>
          <span>{{ selectedFoodQuantity }}</span>
          <button mat-button type="button" (click)="incrementQuantity()">+</button>
        </div>
        <button mat-raised-button color="primary" type="button" (click)="addFood(selectedFood, selectedFoodQuantity)">
          Pridať jedlo
        </button>
      </div>
    </div>

    <div class="selected-foods" *ngIf="selectedFoods.length">
      <h3>Vybrané jedlá</h3>
      <div *ngFor="let food of selectedFoods.controls; let i = index" class="selected-item">
        <span>{{ food.get('name')?.value }} (x{{ food.get('quantity')?.value }})</span>
        <button mat-button type="button" color="warn" (click)="removeFood(i)">Odstrániť</button>
      </div>
    </div>

    <button mat-raised-button color="accent" type="submit" [disabled]="orderForm.invalid">
      Potvrdiť objednávku
    </button>
  </form>
</div>
