<div class="order-container">
  <h2>Vytvorenie objednávky</h2>
  <form [formGroup]="orderForm" (ngSubmit)="submitOrder()" class="order-form">
    <div class="customer-details">
      <mat-form-field appearance="outline">
        <mat-label>Meno zákazníka</mat-label>
        <input matInput formControlName="customerName" placeholder="Zadajte meno" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Vyhľadajte adresu</mat-label>
        <input matInput (input)="filterAddresses($event)" (focus)="showAddressList()" (blur)="hideAddressList()" placeholder="Zadajte adresu" formControlName="searchQuery" />
      </mat-form-field>
      <div *ngIf="showAddresses && filteredAddresses.length" class="address-results">
        <mat-list>
          <mat-list-item *ngFor="let address of filteredAddresses" (click)="selectAddress(address)">
            {{ address.street }} {{ address.houseNumber }}, {{ address.city }}
          </mat-list-item>
        </mat-list>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Tel. číslo</mat-label>
        <input matInput formControlName="phoneNumber" placeholder="Zadajte telefónne číslo" type="tel" />
        <mat-error *ngIf="orderForm.get('phoneNumber')?.hasError('pattern')">
          Zadajte platné telefónne číslo.
        </mat-error>
      </mat-form-field>
    </div>
      <button mat-raised-button color="primary" type="button" (click)="showMap()">Vybrať adresu z mapy</button>
      <app-map-viewer *ngIf="mapVisible" (addressSelected)="onAddressSelected($event)"></app-map-viewer>
    <div *ngIf="selectedAddress" class="restaurant-selection">
      <h3>Vyberte reštauráciu</h3>
      <div class="restaurant-cards">
        <mat-card *ngFor="let restaurant of availableRestaurants" class="restaurant-card" (click)="selectRestaurant(restaurant)">

          <mat-card-header>
            <mat-card-title>{{ restaurant.name }}</mat-card-title>
            <mat-card-subtitle>{{ restaurant.address.street }} {{ restaurant.address.houseNumber }}, {{ restaurant.address.city }}</mat-card-subtitle>
          </mat-card-header>
          <br />
        </mat-card>
      </div>
      

    </div>

    <div *ngIf="selectedRestaurant" class="food-selection">
      <h3>Vyberte jedlo</h3>
      <div class="food-cards">
        <div *ngFor="let food of availableFoods" class="food-card" (click)="selectFood(food)">
          <img [src]="food.picturePath" alt="{{ food.name }}" class="food-image">
          <div class="food-details">
            <h4>{{ food.name }}</h4>
            <p>{{ food.price | currency }}</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="selectedFood" class="selected-food">
      <h3>Vybrané jedlo</h3>
      <div class="selected-food-details">
        <img [src]="selectedFood.picturePath" alt="{{ selectedFood.name }}" class="selected-food-image">
        <div class="selected-food-info">
          <h4>{{ selectedFood.name }}</h4>
          <p>{{ selectedFood.price | currency }}</p>
          <div class="quantity-container">
            <button mat-button type="button" (click)="decrementQuantity()">-</button>
            <span>{{ selectedFoodQuantity }}</span>
            <button mat-button type="button" (click)="incrementQuantity()">+</button>
          </div>
          <button mat-raised-button color="primary" type="button" (click)="addFood(selectedFood, selectedFoodQuantity)">
            Pridať jedlo
          </button>
        </div>
      </div>
    </div>

    <div class="selected-foods" *ngIf="selectedFoods.length">
      <h3>Vybrané jedlá</h3>
      <div *ngFor="let food of selectedFoods.controls; let i = index" class="selected-item">
        <span>{{ food.get('name')?.value }} (x{{ food.get('quantity')?.value }})</span>
        <button mat-button type="button" color="warn" (click)="removeFood(i)">Odstrániť</button>
      </div>
    </div>

    <button mat-raised-button color="accent" type="submit" [disabled]="orderForm.invalid || selectedFoods.length === 0">
      Potvrdiť objednávku
    </button>
  </form>
</div>
