<div class="restaurant-request-container mat-elevation-z3">
  <h2 class="mat-headline">Vytvoriť novú reštauráciu</h2>
  <form (ngSubmit)="onSubmit()" #restaurantForm="ngForm" class="restaurant-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Meno reštaurácie</mat-label>
      <input matInput type="text" id="name" required [(ngModel)]="restaurant.name" name="name" #name="ngModel">
      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
        Vyplňte toto pole
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Vyhľadať adresu</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" id="searchQuery" [(ngModel)]="searchQuery" (input)="filterAddresses($event)"
             (focus)="showAddressList()" name="searchQuery">
    </mat-form-field>

    <mat-card *ngIf="showAddresses && filteredAddresses.length" class="address-results">
      <mat-selection-list>
        <mat-list-item *ngFor="let address of filteredAddresses" (click)="selectAddress(address)" class="address-item">
          <span class="address-text">{{ address.street }} {{ address.houseNumber }}, {{ address.city }}</span>
        </mat-list-item>
      </mat-selection-list>
    </mat-card>

    <button mat-raised-button color="primary" type="button" (click)="showMap()">Vybrať adresu z mapy</button>
    <app-map-viewer *ngIf="mapVisible" (addressSelected)="onAddressSelected($event)"></app-map-viewer>

    <button mat-raised-button color="primary" type="submit" [disabled]="restaurantForm.invalid" class="submit-button">Požiadať o vytvorenie reštaurácie</button>
  </form>
</div>
