<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" />
<script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

<div class="courier-orders-container">
  <div class="button-group">
    <button mat-raised-button color="primary" (click)="computeOptimalRoute()">Compute Optimal Route</button>
    <button mat-raised-button color="accent" (click)="loadCurrentPosition()">Load Current Position</button>
    <button mat-raised-button color="warn" (click)="sortOrdersByFurthest()">Sort by Furthest</button>
  </div>

  <div class="orders-container">
    <div class="order-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let order of activeOrders; let i = index" cdkDrag class="order-card">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Order {{ i + 1 }}: {{ order.customerName }}</mat-card-title>
            <mat-card-subtitle>
            <button mat-icon-button (click)="viewOrderInfo(order)">
              <i class="material-icons">house</i>
            </button>
              <button mat-icon-button (click)="viewOrderDetails(order)">
                <mat-icon>info</mat-icon>
              </button>
          </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ order.customerAddress.street }} {{ order.customerAddress.houseNumber }}, {{ order.customerAddress.city }}</p>
            <p>{{ order.phoneNumber }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="map-container">
      <div id="map"></div>
    </div>
  </div>
</div>
