.food-manager-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh; /* Ensure the container takes the full height of the viewport */
  box-sizing: border-box;
}

.table-container {
  flex: 1; 
  overflow: auto;
}

.file-upload-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.food-image {
  width: 100px;
  height: auto;
  margin-right: 10px;
}
