<!DOCTYPE HTML5>
<html>


<head>
  <meta charset="UTF-8">
  <title>Deliver.IT</title>
</head>
<app-navbar></app-navbar>
<router-outlet></router-outlet>
</html>

<!--
<nav>
    <button mat-button (click)="onClick">Action</button>
        <button mat-flat-button>Basic</button>
        <a class="home" routerLink="info-page">Domov</a>
        <a  routerLink="about-page">O projekte</a>
        <a  routerLink="login-page">Prihlásenie</a>
        <a  routerLink="orders-page">Objednávky</a>

</nav>
<router-outlet></router-outlet> -->
