<div class="content">
    <h2>Intro k projektu Deliver.IT</h2>
    <p>
        Tento projekt je navrhnutý na správu a optimalizáciu rozvozov jedálnej donáškovej služby Deliver.IT.
        Webová aplikácia bude slúžiť ako nástroj podpory donáškovej služby Deliver.IT.
        Dostupné budú najmä nástroje pre vizualizáciu optimálnych trás pomocou OpenStreetMap API,
        ktorých výpočty budú vyhodnocované na serveri. Zároveň táto stránka slúži ako prototyp mojej bakalárskej práce.
    </p>

</div>
