mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* Example for buttons */
button.mat-button {
  background-color: var(--accent-color);
  color: rgb(255, 140, 52);
  outline: 1px;
}

button.mat-button:hover {
  background-color: var(--warn-color);
}
.right-spacer{
  flex: 1 1 auto;

}
