mat-toolbar {
  background-color: var(--primary-color);
  color: var(--text-color);
/*  margin: auto;*/
}


button.mat-button:hover {
    color: #e3c61e;
}
/*mat-button{

}*/

.right-spacer{
  flex: 1 1 auto;

}
