<div class="orders-container">
  <h2>Zoznam objednávok</h2>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="orders" class="mat-table">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="toggleSelectAll($event)" [checked]="isAllSelected()" [indeterminate]="isIndeterminate()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let order">
          <mat-checkbox [(ngModel)]="order.selected"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let order">{{ order.id }}</td>
      </ng-container>

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Meno zákazníka</th>
        <td mat-cell *matCellDef="let order">{{ order.customerName }}</td>
      </ng-container>

      <ng-container matColumnDef="customerAddress">
        <th mat-header-cell *matHeaderCellDef>Adresa zákazníka</th>
        <td mat-cell *matCellDef="let order">{{ order.customerAddress?.completeAddress }}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Telefónne číslo</th>
        <td mat-cell *matCellDef="let order">{{ order.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="foodItems">
        <th mat-header-cell *matHeaderCellDef>Počet položiek</th>
        <td mat-cell *matCellDef="let order">{{ order.orderFoods.length }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let order">{{ order.status }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Akcia</th>
        <td mat-cell *matCellDef="let order">
          <button mat-button *ngIf="!isCourier && order.status === 'Waiting for courier'" color="primary" (click)="openEditDialog(order, order.id)">Úprava</button>
          <button mat-button *ngIf="order.status === 'Active' || order.status === 'Delivered'" color="accent" (click)="viewOrder(order)">Náhľad</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="claim">
        <th mat-header-cell *matHeaderCellDef>Donáška</th>
        <td mat-cell *matCellDef="let order">
          <div *ngIf="order.claimedBy; else claimButton">
            <span *ngIf="!isCourier">{{ order.claimedByName }}</span>
            <button mat-button *ngIf="isCourier && order.claimedByName === user.userName && order.status === 'Active'" (click)="deliverOrder(order.id)">Doručiť</button>
          </div>
          <ng-template #claimButton>
            <button mat-button *ngIf="isCourier" (click)="claimOrder(order.id)">Prijať</button>
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div class="delete-button-container">
    <button mat-raised-button *ngIf="!isCourier" color="warn" (click)="deleteSelectedOrders()" [disabled]="!hasSelectedOrders()">Vymazať zvolené objednávky</button>
  </div>
</div>
